# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

# Folders to ignore  
node_modules/ 
coverage/
dist/

# temp file for git conflict merging  
*.orig  
*.log  
*.rej  
*.swo  
*.swp  
*.zip  
*.vi  
*~  
*.sass-cache  
*.tmp.html  
*.dump  

# OS or Editor folders
.DS_Store  
._*  
.cache  
.project  
.settings  
.tmproj  
*.esproj  
*.sublime-project  
*.sublime-workspace  
nbproject  
thumbs.db
*.iml
.hg  
.svn  
.CVS  
*.suo
*.ntvs*
*.njsproj
*.sln
.vscode
.history
.idea

# Numerous always-ignore extensions  
*.bak  
*.patch  
*.diff  
*.err  